PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://parkia:parkia2026@localhost:5432/parkia_emi
JWT_SECRET=CAMBIAR_ESTA_CLAVE_EN_PRODUCCION_2026
JWT_EXPIRES_IN=2h
CAPTCHA_SECRET=CAMBIAR_CAPTCHA_SECRET_2026
CAPTCHA_EXPIRES_IN=5m
CORS_ORIGIN=http://localhost:4000
ALLOW_BACKUP_COMMANDS=false
BACKUP_DIR=./backups

LOGIN_MAX_ATTEMPTS=5
LOGIN_LOCK_MINUTES=15
